<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My task</title>
</head>
<body>

<div>
  <h1>Listing tasks</h1>
  <% if user_signed_in?%>
  <%= link_to 'New Task', new_task_path, class:'button' %>
  <%end%>
</div>

<div class="row">

  <div class="large-6 columns">
    <h3>Tasks in progress</h3></a>
    <fieldset>
      <table>
          <thead>
            <tr>
            <th>Title</th>
            <th>Dur</th>
            <th>Start</th>
            <th>Finish</th>
            <th>User</th>
            <th>Responsable</th>
            <th colspan="1"></th>
            </tr>
          </thead>
            <tbody>
              <% @tasks.each do |task| %>
                <% if task.finished == false %>
                  <tr>
                  <td><%= task.title %></td>
                  <td><%= task.duration %></td>
                  <td><%= task.start_date %></td>
                  <td><%= task.finish_date %></td>
                  <td><%= task.user.fullname %></td>
                  <td><%= task.user.fullname %></td>
                  <td><%= link_to 'Show', task %></td>
                  <% if user_signed_in?%>
                  <td><%= link_to 'Edit', edit_task_path(task) %></td>
                  <td><%= link_to 'Del', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                  </tr>
                <% end %>
              <% end %>
          </tbody>
        </table>
        </fieldset>
    </div>

  <div class="large-6 columns">
    <h3>Tasks Completed</h3>
    <fieldset>
        <table>
          <thead>
            <tr>
            <th>Title</th>
            <th>Dur</th>
            <th>Start</th>
            <th>Finish</th>
            <th>User</th>
            <th>Responsable</th>
            <th colspan="1"></th>
            </tr>
          </thead>
            <tbody>
              <% @tasks.each do |task| %>
                <% if task.finished == true %>
                  <tr>
                  <td><%= task.title %></td>
                  <td><%= task.duration %></td>
                  <td><%= task.start_date %></td>
                  <td><%= task.finish_date %></td>
                  <td><%= task.user.fullname %></td>
                  <td><%= task.user.fullname %></td>
                  <td><%= link_to 'Show', task %></td>
                  <% if user_signed_in?%>
                    <td><%= link_to 'Edit', edit_task_path(task) %></td>
                    <td><%= link_to 'Del', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <%end%>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
      </table>
      </fieldset>
    </div>

</div>

</body>
</html>